body {
    background-color: rgba(117, 12, 117, 0.89);
    color: rgb(255, 0, 212)
    font-family: "Playwrite DE SAS", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(40, 6, 133);
    color: rgb(255, 0, 212);
    font-family: "Playwrite DE SAS", cursive;
}